---
const platform = "github";
const username = "withastro";
---

<footer class="flex flex-col items-center justify-center h-64 w-full bg-[#182D55] text-white ">
    
  <p class="text-sm">Learn more about my projects on <a href={`https://www.${platform}.com/${username}`}>{platform}</a>!</p>
  
  
</footer>