---
---

<ul class="flex flex-row gap-4 items-center justify-center text-xl ">
    <li>
      <a href="#home" class="">Hugo Brink</a>
    </li>
    <li>
      <a href="/portfolio/about" class="hover:text-accent">About me</a>
    </li>
    <li>
      <a href="#roadmap" class="hover:text-accent">Roadmap</a>
    </li>
    <li>
    <li>
      <a href="/portfolio/blog" class="hover:text-accent">Blog</a>
    </li>
    <li>
      <a href="#last-projects" class="hover:text-accent">Last projects</a>
    </li>
  </ul>